@model P2_2019AM604_2018PR603.Models.Creportado

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Creportado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="IdGen" class="control-label"></label>
                <select asp-for="IdGen" class ="form-control" asp-items="ViewBag.comboGeneros"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdDpt" class="control-label"></label>
                <select asp-for="IdDpt" class ="form-control" asp-items="ViewBag.comboDepartamentos"></select>
            </div>
            <div class="form-group">
                <label asp-for="Confirmado" class="control-label"></label>
                <input asp-for="Confirmado" class="form-control" />
                <span asp-validation-for="Confirmado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recuperado" class="control-label"></label>
                <input asp-for="Recuperado" class="form-control" />
                <span asp-validation-for="Recuperado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fallecido" class="control-label"></label>
                <input asp-for="Fallecido" class="form-control" />
                <span asp-validation-for="Fallecido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
